@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900,700,500);


/* GLOBAL CSS */

html {

  scroll-behavior: smooth;

  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

#one {
  scroll-snap-align: start;
}


body {
  overflow-x: hidden;
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;

  height: 100vh;
  width: 100vw;


  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms;
  will-change: background;

  scroll-snap-type: y mandatory;
}


/* Icons */

.icon {

  width: 40px;
  height: 40px;
  display: block;

}



.icon2 {

  width: 40px;
  height: 40px;
  margin-top: 0.5em;
  display: block;

}



.icon3 {

  width: 40px;
  height: 40px;
  margin-top: 0.5em;
  display: block;
}

/* Icons */




.topHeader {
  background-color: #1D1B22;
  position: relative;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;
  margin:0;
}


h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  line-height: 0.9em;
  color: #ffffff;
  margin: 0px;
  margin-left: 0em;
  margin-top: 1em;
  padding-top: 0vh;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 9;
}


 


article {
  background-color: #1D1B22;
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;
  height: 100vh;
  margin:0;
}


.Light {
  background-color: #F5EBFF;
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;

  margin:0;
}

.Red {
  background-color: #1D1B22;
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;

  margin:0;
}


.wrapper {

  max-width: 1068px;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;

  position: relative;
  margin: auto;
  padding: 0;

  box-sizing: border-box;
  z-index: 1;
}



/* DESIGNER */


.bgDark {
  background-color: #1D1B22;
  width: 100%;
  text-align: left;
  align-items: left;
  align-self: left;
  align-content: left;
  vertical-align: middle;

  position: absolute;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  box-sizing: border-box;
  z-index: 1;
  
}

.bgLight {
  background-color: #F5EBFF;
  width: 100%;
  text-align: left;
  align-items: left;
  align-self: left;
  align-content: left;
  vertical-align: middle;

  position: absolute;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  box-sizing: border-box;
  z-index: 1;
  
}

.bgRed {
  background-color: #1D1B22;
  width: 100%;
  text-align: left;
  align-items: left;
  align-self: left;
  align-content: left;
  vertical-align: middle;

  position: absolute;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  box-sizing: border-box;
  z-index: 1;
  
}




.topOne {

  color: beige;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;

  position: relative;
  margin:0;
  margin-top: 100 px;
  padding-top: 9%;


  box-sizing: border-box;
  z-index: 5;
}


.headOne {


  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;

  position: relative;
  margin:0;
  padding-top: 0rem;

  box-sizing: border-box;
  z-index: 9;
}


h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  line-height: 0.9em;
  color: #fff;
  margin: 0px;
  margin-left: 0.5em;
  margin-top: -7em;
  padding-top: 0vh;
  text-align: left;
  align-items: center;
  position: relative;
  z-index: 9;
}


h2 span {
  background: #FF0033;
  color: #fff;
  padding: 0 20px;
}



h3{
 max-width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;


  color: #090909;
  margin: 0px;
  margin-left: 0.5em;
  margin-top: -7em;
  padding-top: 0vh;
  text-align: left;
  align-items: center;
  position: relative;
  z-index: 9;
}

h3 span {
  background: #090909;
  color: #fff;
  padding: 0 20px;
}



/* WP ROUTE */

.wpOne {
  width: 3rem;
  height: 2rem;
  color: beige;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  vertical-align: middle;

  position: relative;
  margin:0;
  padding-top: 0rem;

  box-sizing: border-box;
  z-index: 9;
}









/* XTRAS */


.yellow2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0em;
  line-height: 0.9em;
  color: #ff1174;
  margin: 0px;
  margin-left: 0.7em;
  padding-top: 0vh;
  text-align: left;
  align-items: center;
  position: relative;
  z-index: 5;
}



.logoA{
  display: block;
  width: 15%;
  height: 8%;
  margin: auto;
  padding: 0% 0% 0% 0%;
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
  text-decoration: underline;
  color: #fff;
  background: #ff003b;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.blue{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  line-height: 0.9em;
  color: #0b0f17;
  margin: 0px;
  margin-left: 0.7em;
  padding-top: 0vh;
  text-align: left;
  align-items: center;
  position: relative;
  z-index: 5;
}







/* MEDIA SCREENS */

@media screen and (max-width: 1085px) {

  .logoA{
    height: 6%;
    padding: 0% 0% 0% 0%;
    font-size: 1.5em;
  
  }


 }




@media screen and (max-width: 1025px) {

  body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;

  }


  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 0.9em;
    color: #FF0033;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 0.9em;
    color: #090909;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  

}

@media screen and (max-width: 830px) {

  article {

    height: 80vh;

  }

  .logoA{
    height: 5%;
    padding: 1% 0% 0% 0%;
    font-size: 1.2em;
  
  }


  img {
    width: 90%;
  }

  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;

  }

  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    line-height: 0.9em;
    color: #FF0033;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    line-height: 0.9em;
    
    color: #090909;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  

}



@media screen and (max-width: 750px) {

  article {

    height: 70vh;

  }

/* Icons */

.icon {
  width: 0.8em;
  display: block;
}

.icon2 {
  width: 0.8em;
  margin-top: 0.2em;
  display: block;
}

.icon3 {
  width: 0.8em;
  margin-top: 0.2em;
  display: block;
}

/* Icons */

}




@media screen and (max-width: 640px) {

  article {

    height: 60vh;

  }

  img {
    width: 90%;
  }

  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;

  }

  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 0.9em;
    color: #FF0033;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 0.9em;
    
    color: #090909;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  

}

@media screen and (max-width: 610px) {


.logoA{
  height: 3.5%;
  padding: 1% 0% 0% 0%;
  font-size: 0.8em;

}

/* Icons */

.icon {
  width: 0.7em;
  display: block;
}

.icon2 {
  width: 0.7em;
  margin-top: 0em;
  display: block;
}

.icon3 {
  width: 0.7em;
  margin-top: 0em;
  display: block;
}

/* Icons */

}


@media screen and (max-width: 500px) { 

  article {
    
    height: 50vh;

  }


  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 0.9em;
    color: #FF0033;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 0.9em;
    
    color: #090909;
    margin: 0px;
    margin-left: 0.5em;
    margin-top: -7em;
    padding-top: 0vh;
    text-align: left;
    align-items: center;
    position: relative;
    z-index: 9;
  }
  
  
  h2 span {
    background: #FF0033;
    color: #fff;
    padding: 0 20px;
  }
  
  
  
  
  h3 span {
    background: #090909;
    color: #fff;
    padding: 0 20px;
  }


}